.single-select{
    margin: 0 55px;
}

.cardname{
    width: 30%;
    border: none;
    border-bottom: 0.5px solid #c2bebe;
    margin: 20px 0;
    border-radius: 0;
}



.cardType,.cardColor{
    display: flex;
    margin-bottom: 20px;
}

.cardType > *:not(:first-child), .cardColor> *:not(:first-child){
    margin-left: 5%;
}

.cardColor-code{
    width: 20%;
}

.responeValidation{
    margin-bottom: 20px;
}