.short-text{
    margin-left: 6%;
}
.unitsValues{
    display: flex;
    margin-top: 3%;
    /* justify-content: space-evenly; */
}

.unitInput{
    width: 100%;
    border: none;
    border-bottom: 0.5px solid #c2bebe;
    margin: 20px 0;
    border-radius: 0;
}

.valueValidation{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 3%;

}
.valeComparison{
    margin: 5% 0;
}
.number-value{
    width:20%;
    max-width: 30%;
}

.errorText{
    width: 50%;
}